[submodule "PrulayerUniversal/PrulayerUniversal.Shared/submodules/samits"]
	path = PrulayerUniversal.Windows10/submodules/samits
	url = https://github.com/SaschaNaz/SamiTS.git
[submodule "PrulayerUniversal.Windows10/submodules/gridlayout"]
	path = PrulayerUniversal.Windows10/submodules/gridlayout
	url = https://github.com/FremyCompany/css-grid-polyfill.git
[submodule "PrulayerUniversal.Windows10/submodules/eventpromise"]
	path = PrulayerUniversal.Windows10/submodules/eventpromise
	url = https://github.com/SaschaNaz/EventPromise.git
[submodule "PrulayerUniversal.Windows10/submodules/subclassj"]
	path = PrulayerUniversal.Windows10/submodules/subclassj
	url = https://github.com/SaschaNaz/SubclassJ.git
[submodule "PrulayerUniversal.Windows10/submodules/domliner"]
	path = PrulayerUniversal.Windows10/submodules/domliner
	url = https://github.com/SaschaNaz/DOMLiner.git
