[submodule "PrulayerUniversal/PrulayerUniversal.Shared/js/promise"]
	path = PrulayerUniversal/PrulayerUniversal.Shared/js/promise
	url = https://github.com/taylorhakes/promise-polyfill.git
[submodule "PrulayerUniversal/PrulayerUniversal.Shared/submodules/samits"]
	path = PrulayerUniversal/PrulayerUniversal.Shared/submodules/samits
	url = https://github.com/SaschaNaz/SamiTS.git
[submodule "PrulayerUniversal/PrulayerUniversal.Shared/submodules/promise"]
	path = PrulayerUniversal/PrulayerUniversal.Shared/submodules/promise
	url = https://github.com/taylorhakes/promise-polyfill.git
[submodule "prulayeruniversal.windows10/submodules/gridlayout"]
	path = prulayeruniversal.windows10/submodules/gridlayout
	url = https://github.com/FremyCompany/css-grid-polyfill.git
