body {
    display: grid;
    grid-template: 1fr / 1fr;
}

.start-screen {
    grid-area: 1 / 1;
}

.main-video {
    grid-area: 1 / 1;
}

.start-screen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}