@import "prulayer-video.css";

body {
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
    /*
        display: grid;
        grid-template: 1fr / 1fr;
    */
}

.start-screen {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    /*
        grid-area: 1 / 1;
    */
}

.start-screen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}