body {
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
}

.main-video {
}

.start-screen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}